* {
   box-sizing: border-box;
   margin: 0;
}

:root {
   --orange: hsl(25, 97%, 53%);
   --white: hsl(0, 0%, 100%);
   --light-grey: hsl(217, 12%, 63%);
   --medium-grey: hsl(216, 12%, 54%);
   --dark-blue: hsl(213, 19%, 18%);
   --very-dark-blue: hsl(216, 12%, 12%);
}

html {
   font-size: 14px;
}

body {
   font-family: "Overpass", sans-serif;
   background-color: black;
}

body p {
   font-size: 1rem;
   color: var(--light-grey);
}

main {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.rating__card {
   display: flex;
   flex-direction: column;
   gap: 1.9rem;
   width: 327px;
   padding: 1.8rem;
   background-color: var(--very-dark-blue);
   border-radius: 15px;
}

.rating__card-circle,
.rating__card-score-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 2.9rem;
   width: 2.9rem;
   background-color: var(--dark-blue);
   border-radius: 50%;
}

.rating__card-score-btn {
   font-size: 1.1rem;
   color: var(--light-grey);
   border: none;
   cursor: pointer;
}

.rating__card-header {
   color: var(--white);
   font-size: 2rem;
}

.rating__card-scores {
   display: flex;
   justify-content: space-between;
}

.rating__card-submit-btn {
   text-transform: uppercase;
   padding: .8rem 0 .8rem 0;
   background-color: var(--orange);
   color: var(--white);
   border-radius: 30px;
   font-size: 15px;
   cursor: pointer;
   border: none;
}

@media (min-width: 600px) {
   .rating__card {
      /* gap: 1.9rem; */
      width: 412px;
      padding: 1.9rem;
      background-color: var(--very-dark-blue);
      border-radius: 15px;
   }

   .rating__card-circle,
   .rating__card-score-btn {
      height: 3.7rem;
      width: 3.7rem;
   }

   .rating__card-score-btn {
      font-size: 1.5rem;
   }

   .rating__card-header {
      color: var(--white);
      font-size: 2.5rem;
   }

   body p {
      font-size: 1.3rem;
   }

   .rating__card-submit-btn {
      padding: 1rem 0 1rem 0;
      border-radius: 30px;
      font-size: 1.3rem;
   }
}